.pencilIcon {
  background-color: #ff595e;
  border-radius: 999px;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

.pencilIcon svg {
  width: 24px;
  height: 24px;
  stroke: white;
}