:root {
  --white: #ffffff;
  --offwhite: #f2f9ff;
  --offwhiteblue: #c5e3f8;

  --darkred: #cd4a4c;
  --red: #ff595e;
  --lightred: #ff6b6b;

  --darkyellow: #f0b342;
  --yellow: #ffca3a;
  --lightyellow: #ffde5c;

  --darkblue: #32639a;
  --blue: #1982c4;
  --lightblue: #21bae4;

  --darkgreen: #6fb31f;
  --green: #8ac926;
  --lightgreen: #a5e244;

  --purple: #6a4c93;

  --grey: #D3D3D3;

  --appMaxW: 430px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  max-width: var(--appMaxW);
  margin: 0 auto;

  flex: 1;
  display: flex;
}

.page {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: linear-gradient(to bottom, var(--offwhite), var(--offwhiteblue));
  color: var(--darkblue);
  overflow: hidden;
}

.page * {
  box-sizing: border-box;
}
