@import url('https://fonts.googleapis.com');

.app {
    width: 100%;
    height: 100dvh;
    background-color: #DDEEFA;
}

.topbar {
    height: 64px;
    background-color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 14px;

    box-shadow: 0 2px 2px rgb(248, 246, 246);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.chewy-regular {
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-style: normal;
}

.icons {
    font-size: 22px;
    color:black;
    cursor: pointer;
    user-select: none;
}


.title {
    color: #21BAE4;
    font-size: 8vw;
}

.content{
    padding: 16px;
    color: black;
}

.button {
    font-size: 5vw;
    box-sizing: border-box;
    background-color: #32639A;
    border-radius: 2vw;
    color: #ffffff;
}

.li {
    display: flex;
    font-size: 5vw;
    justify-content:space-between;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15) ;
    border-bottom:  1px solid rgba(0, 0, 0, 0.12);
    border-radius: 2vw;
    background-color: #FFFFFF;
}